<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ffe4c4">
<form action="http://localhost:8000/add/" method="get" >
<center><table>
    <tr>
        <td>
            Enter the first number:
        </td>
        <td>
            <input type="text" name="t1">
        </td>
    </tr>
    <tr>
        <td>
            Enter the second number:
        </td>
        <td>
            <input type="text" name="t2">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="add">
        </td>
    </tr>
</table></center>
</form>
</body>
</html>